.form-group {
    padding-top: 5px;
}

#start-button {
    padding-top: 20px;
}

#validation, #remove-player-validation, #add-player-validation{
    color:red;
    display: none;
}

h2, h3 {
    font-size: 2em;
}

h4, p, input, u, button {
    font-size: 1.5em;
}

h4 {
    margin-top: 0.6em;
    margin-bottom: 0.8em;
    color: rgb(97, 96, 96);
}

h3 {
    color: blue;
}

#options, #remove-player-message, #options-toggle {
    display: none;
}

#add-player-confirmation, #remove-player-confirmation {
    color: green;
}

#remove-player-id {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

#court-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#court {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#court {
    h3 {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 0.6em;
    }
}

#bye-ids {
    overflow-wrap: break-word;
}

#options-toggle {
    color: rgb(25, 179, 171);
    margin-top: 10px;
    margin-bottom: 30px;
}

.action-button {
  background-color: rgb(196, 253, 196);
  border: 1px solid #222222;
  border-radius: 10px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 26px 46px;
  position: relative;
  text-align: center;
  text-decoration: none;
  /* touch-action: manipulation; */
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.action-button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.action-button:active {
  background-color: rgba(220, 249, 220, 0.978);
  border-color: #000000;
  transform: scale(.96);
}
