.form-group {
    padding-top: 5px;
}

#start-button {
    padding-top: 20px;
}

#validation, #remove-player-validation{
    color:red;
    display: none;
}

h4 {
    color: rgb(97, 96, 96);
}

h3 {
    color: blue;
}

#options, #remove-player-message {
    display: none;
}

#add-player-confirmation, #remove-player-confirmation {
    color: green;
}

#remove-player-id {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}