.form-group {
    padding-top: 5px;
}

#start-button {
    padding-top: 20px;
}

#validation {
    color:red;
    display: none;
}

h4 {
    color: rgb(97, 96, 96);
}

h3 {
    color: blue;
}
/* 
#options {
    display: none;
} */

#add-player-confirmation {
    color: green;
}

.flex-container {
    display: flex;
    flex-direction: column;
}